{% extends 'base.html.twig' %}
{% trans_default_domain 'customers' %}

{% block title %}{{ 'Klienci'|trans }}{% endblock %}

{% block body %}

    <section-block-title block title="{{ 'Klienci'|trans }}" :breadcrumbs="[
        { icon: 'home', href: '/', label: '{{ 'Pulpit'|trans|e('js') }}' },
        { label: '{{ 'Lista klientów'|trans|e('js') }}' }
    ]">
        <template v-slot:filters>
            <div class="d-flex flex-wrap align-items-center">
                <form class="form-inline flex-grow-1 mb-0">
                    <div class="input-group">
                        <input type="text" name="q" value="{{ search }}" autocomplete="off"
                               class="form-control" placeholder="{{ 'Nazwa / Adres / Dane kontaktowe'|trans }}">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-light border">
                                <i class="fa fa-search" aria-hidden="true"></i> {{ 'Szukaj'|trans }}
                            </button>
                        </div>
                    </div>
                </form>

                <a href="{{ path('customers_new') }}"
                   class="btn btn-success btn-sm d-inline-flex align-items-center ml-3 text-nowrap">
                    <i class="fa fa-plus mr-2" aria-hidden="true"></i> {{ 'Nowy'|trans }}
                </a>
            </div>
        </template>
    </section-block-title>

    <section-block class="section-gap">
        {% if customers|length > 0 %}
        <div class="table-responsive">
            <table class="table mb-0" style="width: 100%">
                <thead>
                    <tr>
                        <th>{{ 'Nazwa'|trans }}</th>
                        <th>{{ 'Adres'|trans }}</th>
                        <th>{{ 'Kod pocztowy'|trans }}</th>
                        <th>{{ 'Miasto'|trans }}</th>
                        <th>{{ 'Kraj'|trans }}</th>
                        <th style="width: 150px;"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for customer in customers %}
                        <tr>
                            <td>
                                <div class="row">
                                    <div class="col">
                                        <div>{{ customer.name }}</div>
                                        {% if customer.getFirstName() or customer.getLastName() %}
                                            <small>{{ customer.getFirstName() }} {{ customer.getLastName() }}</small>
                                        {% endif %}
                                    </div>
                                    <div class="col">
                                        <div>
                                            {% if customer.phone %}
                                                <i class="fa fa-phone-square" aria-hidden="true"></i>
                                                {{ customer.phone }}
                                            {% endif %}
                                        </div>
                                        <div>
                                            {% if customer.email %}
                                                <i class="fa fa-paper-plane" aria-hidden="true"></i>
                                                <a href="mailto:{{ customer.email }}" style="word-break: break-all">{{ customer.email }}</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                {{ customer.street }}
                                {{ customer.getStreetNumber() }}
                                {% if customer.getApartmentNumber() %}
                                    {{ customer.getApartmentNumber() }}
                                {% endif %}
                            </td>
                            <td style="width: 150px;">{{ customer.getPostalCode() }}</td>
                            <td>{{ customer.getCity() }}</td>
                            <td style="width: 150px;">{{ customer.getCountry() }}</td>
                            <td>
                                <a href="{{ path('customers_edit', {'id': customer.id}) }}" class="btn btn-light btn-sm">
                                    <i class="fa fa-pencil" aria-hidden="true"></i> {{ 'Edytuj'|trans }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <div class="alert alert-warning mb-0" role="alert">
            {% if search != '' %}
                {{ 'Brak klientów spełniających podane kryteria.'|trans }}
            {% else %}
                {{ 'Brak klientów.'|trans }}
            {% endif %}
        </div>
        {% endif %}

        <div class="d-flex justify-content-end mt-3">
            {{ knp_pagination_render(customers) }}
        </div>
    </section-block>

{% endblock %}
