{% extends 'base.html.twig' %}
{% trans_default_domain 'agreements' %}

{% block title %}{{ title }}{% endblock %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard_show') }}" aria-label="Pulpit"><i class="fa fa-home" aria-hidden="true"></i></a></li>
        <li class="breadcrumb-item"><a href="{{ path('agreements_show') }}">{{ 'Lista zamówień'|trans }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ 'Nowe zamówienie'|trans }}</li>
    </ol>
</nav>
{% endblock %}

{% block body %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">{{ title }}</h6>
        </div>
        <div class="card-body">
            <agreement-form></agreement-form>
        </div>
    </div>
{% endblock %}

