{% extends 'base.html.twig' %}
{% trans_default_domain 'products' %}

{% block title %}{{ 'Produkty'|trans }}{% endblock %}

{% block body %}

    <section-block-title block title="{{ 'Produkty'|trans }}" :breadcrumbs="[
        { icon: 'home', href: '/', label: '{{ 'Pulpit'|trans|e('js') }}' },
        { label: '{{ 'Lista produktów'|trans|e('js') }}' }
    ]">
        <template v-slot:filters>
            <div class="d-flex flex-wrap align-items-center">
                <form class="form-inline flex-grow-1 mb-0">
                    <div class="input-group">
                        <input type="text" name="q" value="{{ search }}" autocomplete="off"
                               class="form-control" placeholder="{{ 'Nazwa lub opis'|trans }}">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-light border">
                                <i class="fa fa-search" aria-hidden="true"></i> {{ 'Szukaj'|trans }}
                            </button>
                        </div>
                    </div>
                </form>

                <a href="{{ path('products_new') }}"
                   class="btn btn-success btn-sm d-inline-flex align-items-center ml-3 text-nowrap">
                    <i class="fa fa-plus mr-2" aria-hidden="true"></i> {{ 'Nowy'|trans }}
                </a>
            </div>
        </template>
    </section-block-title>

    <section-block class="section-gap">
        {% if products|length > 0 %}
        <div class="table-responsive">
            <table class="table mb-0" style="width: 100%">
                <thead>
                    <tr>
                        <th style="width: 30%">{{ 'Nazwa'|trans }}</th>
                        <th>{{ 'Opis'|trans }}</th>
                        <th>{{ 'Współczynnik'|trans }}</th>
                        <th style="width: 150px;"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                        <tr>
                            <td>{{ product.name }}</td>
                            <td>{{ product.description }}</td>
                            <td>{{ product.factor }}</td>
                            <td>
                                <a href="{{ path('products_edit', {'id': product.id}) }}" class="btn btn-light btn-sm">
                                    <i class="fa fa-pencil" aria-hidden="true"></i> {{ 'Edytuj'|trans }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <div class="alert alert-warning mb-0" role="alert">
            {% if search != '' %}
                {{ 'Brak produktów spełniających podane kryteria.'|trans }}
            {% else %}
                {{ 'Brak produktów.'|trans }}
            {% endif %}
        </div>
        {% endif %}

        <div class="d-flex justify-content-end mt-3">
            {{ knp_pagination_render(products) }}
        </div>
    </section-block>

{% endblock %}
