{% set active = app.request.attributes.get('_route') %}

<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="icon" href="/imgs/sobczak.ico">

        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            {{ encore_entry_link_tags('app-vue') }}
        {% endblock %}

    </head>
    <body id="page-top">
{#        <div class="blur"></div>#}
        <div id="app">
            <div id="wrapper">



                <!-- Sidebar -->
                <nav class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion">

                    <div class="text-center mt-4 mb-3">
                        <img class="img-fluid" src="/imgs/logo-sobczak.png" alt="">
                    </div>

                    <ul>

                        <hr class="sidebar-divider">

                        <li class="nav-item {% if active == 'dashboard_show' %}active{% endif %}">
                            <a href="{{ path('dashboard_show') }}" class="nav-link">
                                <i class="fa fa-tachometer" aria-hidden="true"></i>
                                <span>Pulpit</span>
                            </a>
                        </li>

                        <li class="nav-item {% if active in ['products_show', 'products_new', 'products_edit'] %}active{% endif %}">
                            <a href="{{ path('products_show') }}" class="nav-link">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <span>Produkty</span>
                            </a>
                        </li>

                        <li class="nav-item {% if active in ['customers_show', 'customers_new', 'customers_edit'] %}active{% endif %}">
                            <a href="{{ path('customers_show') }}" class="nav-link">
                                <i class="fa fa-users" aria-hidden="true"></i>
                                <span>Klienci</span>
                            </a>
                        </li>

                        <li class="nav-item {% if active in ['agreements_show', 'orders_view_new', 'agreement_line_details', 'orders_edit'] %}active{% endif %}">
                            <a href="{{ path('agreements_show') }}" class="nav-link">
                                <i class="fa fa-address-book-o" aria-hidden="true"></i>
                                <span>Zamówienia</span>
                            </a>
                        </li>

                        <li class="nav-item {% if active == 'production_show' %}active{% endif %}">
                            <a href="{{ path('production_show') }}" class="nav-link">
                                <i class="fa fa-cogs" aria-hidden="true"></i>
                                <span>Produkcja</span>
                            </a>
                        </li>

                        <hr class="sidebar-divider">

                        <menu-item
                             :active="{% if active in ['security_users', 'security_user_edit'] %}true{% else %}false{% endif %}"
                             :path="'{{ path('production_show') }}'"
                             :title-icon="'fa fa-wrench'"
                             :title="'Konfiguracja'"
                        >
                            <div class="submenu p-2 mx-3 collapse-inner rounded">
                                <a href="{{ path('security_users') }}" class="{% if active in ['security_users', 'security_user_edit'] %}active{% endif %}">Użytkownicy</a>
{#                                <a href="#">Handlowcy</a>#}
                            </div>
                        </menu-item>

                    </ul>


                </nav>

                <div id="content-wrapper" class="d-flex flex-column">

                    <div class="topbar d-flex justify-content-end">

                        <dropdown icon-class="fa fa-user-circle-o" btn-text="{{ app.user.getUserFullName }}">
                            <template>
                                <a class="dropdown-item" href="{{ path('security_logout') }}">
                                    <i class="fa fa-sign-out" aria-hidden="true"></i> Wyloguj
                                </a>
                            </template>
                        </dropdown>

                    </div>

                    <!-- Main Content -->
                    <div id="content">
                        <div class="container-fluid">

                            {% for message in app.flashes('success') %}
                                <div class="alert alert-success">
                                    {{ message }}
                                </div>
                            {% endfor %}

                            {% block body %}{% endblock %}
                        </div>
                    </div>

                </div>


            </div>
        </div>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('app-vue') }}
        {% endblock %}
    </body>
</html>
