{% set active = app.request.attributes.get('_route') %}

<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="icon" href="/imgs/sobczak.ico">

        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            {{ encore_entry_link_tags('app-vue') }}
        {% endblock %}

    </head>
    <body id="page-top">



        <div id="app">
            <div id="wrapper">

                <!-- Sidebar -->
                <nav class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion">

                    <div class="text-center mt-4 mb-3">
                        <img class="img-fluid" src="/imgs/logo-sobczak.png" alt="">
                    </div>

                    <ul v-cloak>

                        <hr class="sidebar-divider">

                        <li class="nav-item {% if active == 'dashboard_show' %}active{% endif %}">
                            <a href="{{ path('dashboard_show') }}" class="nav-link">
                                <i class="fa fa-tachometer" aria-hidden="true"></i>
                                <span>Pulpit</span>
                            </a>
                        </li>

                        {% if (is_granted('ROLE_PRODUCTS')) %}
                        <li class="nav-item {% if active in ['products_show', 'products_new', 'products_edit'] %}active{% endif %}">
                            <a href="{{ path('products_show') }}" class="nav-link">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <span>Produkty</span>
                            </a>
                        </li>
                        {% endif %}

                        {% if (is_granted('ROLE_CUSTOMERS')) %}
                        <li class="nav-item {% if active in ['customers_show', 'customers_new', 'customers_edit'] %}active{% endif %}">
                            <a href="{{ path('customers_show') }}" class="nav-link">
                                <i class="fa fa-users" aria-hidden="true"></i>
                                <span>Klienci</span>
                            </a>
                        </li>
                        {% endif %}

                        <!-- ### -->


                        <menu-item
                            :active="{% if active in ['agreements_show', 'orders_view_new', 'agreement_line_details', 'orders_edit'] %}true{% else %}false{% endif %}"
                            :title-icon="'fa fa-address-book-o'"
                            :title="'Zamówienia'"
                        >

                            {% set statusWaiting = constant('\\App\\Entity\\AgreementLine::STATUS_WAITING') %}
                            {% set statusManufacturing = constant('\\App\\Entity\\AgreementLine::STATUS_MANUFACTURING') %}
                            {% set statusWarehouse = constant('\\App\\Entity\\AgreementLine::STATUS_WAREHOUSE') %}
                            {% set statusArchived = constant('\\App\\Entity\\AgreementLine::STATUS_ARCHIVED') %}

                            {% set array = [

                                {
                                    'title': 'Wszystkie',
                                    'statusId': 0,
                                    'path': path('agreements_show'),
                                    'active': (active == 'agreements_show' and app.request.attributes.get('status') == 0) ? true : false
                                },
                                {
                                    'title': 'Oczekujące',
                                    'statusId': statusWaiting,
                                    'path': path('agreements_show', {'status': statusWaiting}),
                                    'active': (active == 'agreements_show' and app.request.attributes.get('status') == statusWaiting) ? true : false
                                },
                                {
                                    'title': 'W realizacji',
                                    'statusId': statusManufacturing,
                                    'path': path('agreements_show', {'status': statusManufacturing}),
                                    'active': (active == 'agreements_show' and app.request.attributes.get('status') == statusManufacturing) ? true : false
                                },
                                {
                                    'title': 'Magazyn',
                                    'statusId': statusWarehouse,
                                    'path': path('agreements_show', {'status': statusWarehouse}),
                                    'active': (active == 'agreements_show' and app.request.attributes.get('status') == statusWarehouse) ? true : false
                                },
                                {
                                    'title': 'Archiwum',
                                    'statusId': statusArchived,
                                    'path': path('agreements_show', {'status': statusArchived}),
                                    'active': (active == 'agreements_show' and app.request.attributes.get('status') == statusArchived) ? true : false
                                }

                            ] %}



                            <nav-orders :elements="{{ array|json_encode }}"></nav-orders>




                        </menu-item>



                        <!-- ### -->

                        {% if is_granted('ROLE_PRODUCTION_VIEW') %}

                            <li class="nav-item {% if active == 'production_show' %}active{% endif %}">
                                <a href="{{ path('production_show') }}" class="nav-link">
                                    <i class="fa fa-cogs" aria-hidden="true"></i>
                                    <span>Produkcja</span>
                                </a>
                            </li>

                        {% endif %}

                        {% if is_granted('ROLE_CONFIG') %}

                            <hr class="sidebar-divider">

                            <menu-item
                                 :active="{% if active in ['security_users', 'security_user_edit', 'view_security_user_new'] %}true{% else %}false{% endif %}"
                                 :path="'{{ path('production_show') }}'"
                                 :title-icon="'fa fa-wrench'"
                                 :title="'Konfiguracja'"
                            >
                                <div class="submenu mx-2 collapse-inner">
                                    <a href="{{ path('security_users') }}" class="{% if active in ['security_users', 'security_user_edit', 'view_security_user_new'] %}active{% endif %}">Użytkownicy</a>
                                </div>
                            </menu-item>
                        {% endif %}

                    </ul>


                </nav>

                <div id="content-wrapper" class="d-flex flex-column">

                    <div class="topbar d-flex justify-content-end">

                        <dropdown icon-class="fa fa-user-circle-o" btn-text="{{ app.user.getUserFullName }}">
                            <template>
                                <a class="dropdown-item" href="{{ path('security_logout') }}">
                                    <i class="fa fa-sign-out" aria-hidden="true"></i> Wyloguj
                                </a>
                            </template>
                        </dropdown>

                    </div>

                    <!-- Main Content -->
                    <div id="content">

                        <notifications :bag="[

                            {% for message in app.flashes('success') %}
                                {
                                    type: 'success',
                                    content: '{{ message }}'
                                },
                            {% endfor %}

                        ]"></notifications>


                        <div class="container-fluid">

                            {% block body %}{% endblock %}
                        </div>
                    </div>

                </div>


            </div>
        </div>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('app-vue') }}
        {% endblock %}

        {% set userInfo = {
            id: app.user.id,
            firstName: app.user.firstName,
            lastName: app.user.lastName,
            roles: app.user.roles
        } %}

        <div id="js-usr" data-user-info="{{ userInfo|json_encode|url_encode }}"></div>

    </body>
</html>
