{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard_show') }}" aria-label="Pulpit"><i class="fa fa-home" aria-hidden="true"></i></a></li>
        <li class="breadcrumb-item active" aria-current="page">Harmonogram produkcji</li>
    </ol>
</nav>
{% endblock %}

{% block body %}

{#<production-list#}
{#    :taskStatuses="{{ taskStatuses|json_encode() }}"#}
{#    :departments="{{ departments|json_encode() }}"#}
{#></production-list>#}

<agreement-line-list-r-m
        :task-statuses="{{ statuses|json_encode() }}"
        :departments="{{ departments|json_encode() }}"
></agreement-line-list-r-m>

{% endblock %}

