{% trans_default_domain 'dashboard' %}

<nav class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion">

    <div class="sidebar__brand text-center">
        <img class="img-fluid sidebar__logo-full" src="/imgs/logo-sobczak.png" alt="Sobczak">
        <img class="sidebar__logo-mark" src="/imgs/logo-sobczak-sm.png" alt="Sobczak">
    </div>

    <ul class="sidebar__nav" v-cloak>

        <li class="nav-item {% if active == 'dashboard_show' %}active{% endif %}">
            <a href="{{ path('dashboard_show') }}" class="nav-link">
                <i class="fa fa-tachometer" aria-hidden="true"></i>
                <span class="sidebar__label">{{ 'Pulpit'|trans }}</span>
            </a>
        </li>

        {% if (is_granted('ROLE_PRODUCTS')) %}
            <li class="nav-item {% if active in ['products_show', 'products_new', 'products_edit'] %}active{% endif %}">
                <a href="{{ path('products_show') }}" class="nav-link">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <span class="sidebar__label">{{ 'Produkty'|trans }}</span>
                </a>
            </li>
        {% endif %}

        {% if (is_granted('ROLE_CUSTOMERS')) %}
            <li class="nav-item {% if active in ['customers_show', 'customers_new', 'customers_edit'] %}active{% endif %}">
                <a href="{{ path('customers_show') }}" class="nav-link">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <span class="sidebar__label">{{ 'Klienci'|trans }}</span>
                </a>
            </li>
        {% endif %}

        <menu-item
                :active="{% if active in ['agreements_show', 'orders_view_new', 'agreement_line_details', 'orders_edit'] %}true{% else %}false{% endif %}"
                :title-icon="'fa fa-address-book-o'"
                :title="'{{ 'Zamówienia'|trans }}'"
        >

            {% set statusWaiting = constant('\\App\\Entity\\AgreementLine::STATUS_WAITING') %}
            {% set statusManufacturing = constant('\\App\\Entity\\AgreementLine::STATUS_MANUFACTURING') %}
            {% set statusWarehouse = constant('\\App\\Entity\\AgreementLine::STATUS_WAREHOUSE') %}
            {% set statusArchived = constant('\\App\\Entity\\AgreementLine::STATUS_ARCHIVED') %}
            {% set statusDeleted = constant('\\App\\Entity\\AgreementLine::STATUS_DELETED') %}

            {% set array = [

                {
                    'title': 'Wszystkie'|trans,
                    'statusId': 0,
                    'path': path('agreements_show'),
                    'active': (active == 'agreements_show' and app.request.attributes.get('status') == 0) ? true : false
                },
                {
                    'title': 'Oczekujące'|trans,
                    'statusId': statusWaiting,
                    'path': path('agreements_show', {'status': statusWaiting}),
                    'active': (active == 'agreements_show' and app.request.attributes.get('status') == statusWaiting) ? true : false
                },
                {
                    'title': 'W realizacji'|trans,
                    'statusId': statusManufacturing,
                    'path': path('agreements_show', {'status': statusManufacturing}),
                    'active': (active == 'agreements_show' and app.request.attributes.get('status') == statusManufacturing) ? true : false
                },
                {
                    'title': 'Magazyn'|trans,
                    'statusId': statusWarehouse,
                    'path': path('agreements_show', {'status': statusWarehouse}),
                    'active': (active == 'agreements_show' and app.request.attributes.get('status') == statusWarehouse) ? true : false
                },
                {
                    'title': 'Archiwum'|trans,
                    'statusId': statusArchived,
                    'path': path('agreements_show', {'status': statusArchived}),
                    'active': (active == 'agreements_show' and app.request.attributes.get('status') == statusArchived) ? true : false
                }

            ] %}

            {% if is_granted('ROLE_ADMIN') %}
                {%  set array = array|merge([{
                        'title': 'Kosz'|trans,
                        'statusId': statusDeleted,
                        'path': path('agreements_show', {'status': statusDeleted}),
                        'active': (active == 'agreements_show' and app.request.attributes.get('status') == statusDeleted) ? true : false
                    }])
                %}
            {% endif %}

            <nav-orders :elements="{{ array|json_encode }}"></nav-orders>

        </menu-item>

        {% if is_granted('ROLE_PRODUCTION_VIEW') %}
            <li class="nav-item {% if active == 'production_show' %}active{% endif %}">
                <a href="{{ path('production_show') }}" class="nav-link">
                    <i class="fa fa-cogs" aria-hidden="true"></i>
                    <span class="sidebar__label">{{ 'Produkcja'|trans }}</span>
                </a>
            </li>
        {% endif %}

        {% if is_granted('reports.calendar_general') or is_granted('reports.calendar_tasks') or is_granted('reports.calendar_orders') %}
            <menu-item
                :active="{% if active in ['schedule_production', 'schedule_production_v2', 'schedule_orders'] %}true{% else %}false{% endif %}"
                :title-icon="'fa fa-calendar'"
                :title="'{{ 'Kalendarze'|trans }}'"
            >
                <div class="submenu collapse-inner">
                    {% if is_granted('reports.calendar_tasks') %}
                        <a href="{{ path('schedule_production_v2') }}"
                           class="{% if active == 'schedule_production_v2' %}active{% endif %}"
                        >
                            {{ 'Kalendarz produkcji'|trans }}
                        </a>
                    {% endif %}
                    {% if is_granted('reports.calendar_orders') %}
                        <a href="{{ path('schedule_orders') }}"
                           class="{% if active == 'schedule_orders' %}active{% endif %}"
                        >
                            {{ 'Kalendarz zamówień'|trans }}
                        </a>
                    {% endif %}
                    {% if is_granted('reports.calendar_general') %}
                        <a href="{{ path('schedule_production') }}"
                           class="{% if active == 'schedule_production' %}active{% endif %}"
                        >
                            {{ 'Kalendarz ogólny'|trans }}
                        </a>
                    {% endif %}
                </div>
            </menu-item>
        {% endif %}

        {% if is_granted('ROLE_ADMIN') %}
            <menu-item
                :active="{% if active in ['reports_view_differences'] %}true{% else %}false{% endif %}"
                :title-icon="'fa fa-line-chart'"
                :title="'{{ 'Raporty'|trans }}'"
            >
                <div class="submenu collapse-inner">
                    <a href="{{ path('reports_view_differences') }}"
                       class="{% if active in ['reports_view_differences'] %}active{% endif %}"
                    >
                        {{ 'Raport rozbieżności'|trans }}
                    </a>
                </div>
            </menu-item>
        {% endif %}


        {% if is_granted('ROLE_ADMIN') %}

            <hr class="sidebar-divider">

            <menu-item
                    :active="{% if active in ['security_users', 'security_user_edit', 'view_security_user_new', 'authorization_role_view', 'tags', 'work_configuration_view'] %}true{% else %}false{% endif %}"
                    :path="'{{ path('production_show') }}'"
                    :title-icon="'fa fa-wrench'"
                    :title="'{{ 'Konfiguracja'|trans }}'"
            >
                <div class="submenu collapse-inner">
                    <a href="{{ path('security_users') }}"
                       class="{% if active in ['security_users', 'security_user_edit', 'view_security_user_new'] %}active{% endif %}"
                    >
                        {{ 'Użytkownicy'|trans }}
                    </a>
                    <a href="/authorization/role/view"
                        class="{% if active in ['authorization_role_view'] %}active{% endif %}"
                    >
                        {{ 'Role'|trans }}
                    </a>
                    <a href="{{ path('tags') }}"
                       class="{% if active in ['tags'] %}active{% endif %}"
                    >
                        {{ 'Tagi'|trans }}
                    </a>
                    <a href="/work-configuration"
                       class="{% if active in ['work_configuration_view'] %}active{% endif %}"
                    >
                        {{ 'Produkcja'|trans }}
                    </a>
                </div>
            </menu-item>
        {% endif %}
    </ul>

    <div class="sidebar__footer">
        <hr class="sidebar-divider">
        {% include('_language_switcher.html.twig') %}
        <context-menu></context-menu>
    </div>
</nav>